<%  @cart.product_items.each do |product_item| %>
  <ul>
    <li>
      <%= product_item.quantity %>&times; <%=product_item.product.title %>
      <%= number_to_currency product_item.total_price %>
    </li>
  </ul>
<% end %>